config system dhcp server
edit 1
set interface port2
set auto-configuration enable
set conflicted-ip-timeout 1800
set default-gateway 172.16.40.1
set dns-service specify
set domain endpoints.local
config ip-range
edit 1
set end-ip 172.16.40.20
set start-ip 172.16.40.5
next
end
set lease-time 604800
set netmask 255.255.0.0
next

edit 2
set interface port2
set auto-configuration enable
set conflicted-ip-timeout 1800
set default-gateway 10.38.0.1
set dns-service specify
set domain endpoints.local
set interface "internal"
config ip-range
edit 1
set end-ip 10.38.0.20
set start-ip 10.38.0.10
next
end
set lease-time 604800
set netmask 255.255.0.0
next

edit 3
set interface port2
set auto-configuration enable
set conflicted-ip-timeout 1800
set default-gateway 10.39.0.1
set dns-service specify
set domain endpoints.local
config ip-range
edit 1
set end-ip 10.39.0.20
set start-ip 10.39.0.10
next
end
set lease-time 604800
set netmask 255.255.0.0
next

edit 4
set interface port2
set auto-configuration enable
set conflicted-ip-timeout 1800
set default-gateway 10.40.0.1
set dns-service specify
set domain endpoints.local
config ip-range
edit 1
set end-ip 10.40.0.20
set start-ip 10.40.0.10
next
end
set lease-time 604800
set netmask 255.255.0.0
next

edit 5
set interface port2
set auto-configuration enable
set conflicted-ip-timeout 1800
set default-gateway 10.41.0.1
set dns-service specify
set domain endpoints.local
config ip-range
edit 1
set end-ip 10.41.0.20
set start-ip 10.41.0.10
next
end
set lease-time 604800
set netmask 255.255.0.0
next

edit 6
set interface port2
set auto-configuration enable
set conflicted-ip-timeout 1800
set default-gateway 10.42.0.1
set dns-service specify
set domain endpoints.local
config ip-range
edit 1
set end-ip 10.42.0.20
set start-ip 10.42.0.10
next
end
set lease-time 604800
set netmask 255.255.0.0
next

edit 7
set interface port2
set auto-configuration enable
set conflicted-ip-timeout 1800
set default-gateway 10.43.0.1
set dns-service specify
set domain endpoints.local
config ip-range
edit 1
set end-ip 10.43.0.20
set start-ip 10.43.0.10
next
end
set lease-time 604800
set netmask 255.255.0.0
next

edit 8
set interface port2
set auto-configuration enable
set conflicted-ip-timeout 1800
set default-gateway 10.44.0.1
set dns-service specify
set domain endpoints.local
config ip-range
edit 1
set end-ip 10.44.0.20
set start-ip 10.44.0.10
next
end
set lease-time 604800
set netmask 255.255.0.0
next

edit 9
set interface port2
set auto-configuration enable
set conflicted-ip-timeout 1800
set default-gateway 10.45.0.1
set dns-service specify
set domain endpoints.local
config ip-range
edit 1
set end-ip 10.45.0.20
set start-ip 10.45.0.10
next
end
set lease-time 604800
set netmask 255.255.0.0
next

edit 10
set interface port2
set auto-configuration enable
set conflicted-ip-timeout 1800
set default-gateway 10.46.0.1
set dns-service specify
set domain endpoints.local
config ip-range
edit 1
set end-ip 10.46.0.20
set start-ip 10.46.0.10
next
end
set lease-time 604800
set netmask 255.255.0.0
next

edit 11
set interface port2
set auto-configuration enable
set conflicted-ip-timeout 1800
set default-gateway 10.47.0.1
set dns-service specify
set domain endpoints.local
config ip-range
edit 1
set end-ip 10.47.0.20
set start-ip 10.47.0.10
next
end
set lease-time 604800
set netmask 255.255.0.0
next

edit 12
set interface port2
set auto-configuration enable
set conflicted-ip-timeout 1800
set default-gateway 10.47.0.1
set dns-service specify
set domain endpoints.local
config ip-range
edit 1
set end-ip 10.48.0.20
set start-ip 10.48.0.10
next
end
set lease-time 604800
set netmask 255.255.0.0
next

end
